/* Alert notifications styles
-------------------------------- */

.alert {
  padding: 10px;
  border-radius: 2px;
  font-size: @font-size-lg;
  .alert-danger {
    background-color: rgba(255,110,110,.15);
  }
}