/* breadcrumbs styles
-------------------------------------------- */

.breadcrumb {
  background-color: transparent;
  margin-bottom: 0;
  padding: 0;

  &>li {
    font-size: @font-size-sm;
    color: #444;

    &>a {
      font-size: @font-size-md;
      color: @default;
      
      i {
        margin-right: 3px;
      }
    }
  }

  & > li + li:before {
    content: ">>";
    color: @color-red;
  }
}