/* Main button styles
--------------------------------------- */

.btn-main {
  background-color: @color-red;
  display: inline-block;
  padding: 12px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  border: none;
  font-weight: 300;

  &:hover,
  &:focus,
  &:active {
    background-color: @color-red-light;
    outline: none;
    color: #fff;
    text-decoration: none;
  }

  &.small {
    padding: 10px 25px;
    font-size: 14px;
    line-height: 14px;
  }
}

.btn-default {
  background-color: #f6f6f6;
  display: inline-block;
  padding: 12px;
  text-align: center;
  font-size: 16px;
  color: #7f7f7f;
  border: none;
  font-weight: 300;

  &:hover,
  &:focus,
  &:active {
    background-color: #f1f1f1;
    outline: none;
    color: #7f7f7f;
    text-decoration: none;
  }

  &.small {
    padding: 10px 25px;
    font-size: 14px;
    line-height: 14px;
  }
}