/* Custom checkbox styles
------------------------------------ */

input[type=checkbox].css-checkbox {
  position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 16px;
  height:16px;
  display:inline-block;
  line-height:16px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:12px;
  font-weight: 300;
  vertical-align:middle;
  cursor: pointer;
  margin-bottom: 0;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -16px;
}
label.css-label {
  background-image:url(../../../assets/images/checkbox/checkbox.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}