/* All context menu styles
-----------------------------------------*/

.__ttip {
  left: 26px;
  top: -23px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  border: 1px solid #e5e5e5;
  border-radius: 2px;

  &::after {
    content: '';
    position: absolute;
    top: 31px;
    right: 100%;
    margin-top: -8px;
    width: 0; height: 0;
    border-right: 8px solid @discussion;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }
  
  &>li{
    &>a{
      &:hover {
        background-color: @discussion;
        color: #fff;
      }
    }
  }
}

@media (max-width: 767px) {
  .__ttip {
    left: -52px;
    top: 26px;

    &::after {
      content: '';
      position: absolute;
      top: -8px;
      right: 66%;
      margin-top: -8px;
      width: 0; height: 0;
      border-bottom: 8px solid @discussion;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;
    }
  }
}