/* Dropdownlist styles
---------------------------------- */
.dropdown dd, .dropdown dt {
  margin: 0px;
  padding: 0px;
}
.dropdown ul {
  margin: -1px 0 0 0;
}
.dropdown dd {
  position: relative;
}
.dropdown a,
.dropdown a:visited {
  color: #555;
  text-decoration: none;
  outline: none;
  font-size: 12px;
  font-weight: normal;
}
.dropdown dt a {
  background-color: #fff;
  border: 1px solid #ccc;
  display: block;
  padding: 6px 12px;
  min-height: 25px;
  line-height: normal;
  overflow: hidden;
  width: 100%;
}
.dropdown dt a i {
  float: right;
  margin-top: 3px;
}

.dropdown dt a .multiSel {
  margin: 0;
}
.dropdown dt a span, .multiSel span {
  cursor:pointer;
  display: inline-block;
  padding: 0 3px 2px 0;
}
.dropdown dd ul {
  position: absolute;
  top: 2px;
  z-index: 2;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #555;
  display: none;
  left: 0px;
  padding: 6px 12px;
  width: 100%;
  list-style: none;
  height: 109px;
  overflow: auto;
}
.dropdown span.value {
  display: none;
}
.dropdown dd ul li a {
  padding: 5px;
  display: block;
}
.dropdown dd ul li a:hover {
  background-color: #fff;
}