/* Form and form elements
------------------------------------ */
.form-control {
  border-radius: 2px;
  font-size: 12px;
}

.form-horizontal .control-label {
  font-size: 14px;
  font-weight: 400;
}

/*Special input for right filter block*/
.filter-input {
  width: 75px;
  height: 23px;
  border: 1px solid #c5c5c5;
  font-size: 12px;
  padding: 4px;
}

.nf-custom-select {
  position: relative;
  background-color: #fff;

  select {
    width: 100%;
    display: inline-block;
    height: 34px;
    padding: 6px 0 6px 9px;
    font-size: @font-size-sm;
    color: #444;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    -webkit-appearance:none;

    &:focus,
    &:active {
      outline: 0;
    }
  }

  select[disabled] {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
  }

  &:after {
    content: url(../../../assets/images/icons/select-arrow.png);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    line-height: 34px;
    padding: 1px;
    border-left: 1px solid #e5e5e5;
    color: white;
    pointer-events:none;

    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
  }

}

@media (max-width: 767px) {
  .__auth {
    width: auto;
  }
}
