input[type=checkbox].css-radio {
  position:absolute;
  z-index:-1000;
  left:-1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height:1px;
  width:1px;
  margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-radio + label.css-label2 {
  padding-left:54px;
  height:22px;
  display:inline-block;
  line-height:22px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:22px;
  vertical-align:middle;
  cursor:pointer;
  margin-bottom: 0;

}

input[type=checkbox].css-radio:checked + label.css-label2 {
  background-position: 0 -22px;
}

label.css-label2 {
  background-image:url(../../../assets/images/radio/radio.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}