/* Statuses styles
--------------------------------- */

.success {
  color: @success;
}

.error {
  color: @failed;
}
.status {
  color: #fff;
  line-height: normal;
  display: inline-block;
  padding: 3px 15px 3px 6px;
  border-radius: 0 10px 10px 0;
  text-align: left;
}

.status-discussion {
  background-color: @discussion;
}

.status-acceptance {
  background-color: @acceptance;
}

.status-agreement {
  background-color: @agreement;
}

.status-success {
  background-color: @success;
}

.status-failed {
  background-color: @failed;
}