/* Table styles
----------------------------------------- */
.col1 {
  width: 47px;
  text-align: center;
  border-collapse: collapse;
}
.col-action {
  width: 150px;
}
.table-nf {
  width: 100%;
  table-layout: fixed;
  background-color: #fff;

    tr {
      &>th {
        position: relative;
        padding: 15px;
        font-size: 12px;
        font-weight: 600;
        color: #444;
        border: 1px solid #ddd;
        background-color: #f7f7f7;

        &>a {
          color: #444;
        }
      }

      &>td {
        position: relative;
        padding: 15px;
        line-height: 24px;
        border: 1px solid #ddd;
        word-wrap: break-word;
      }

      &:hover {
        background-color: #f7f7f7;
      }
    }
  .table-nf_edit {
    display: inline-block;
    vertical-align: middle;
    background-color: #222;
    padding: 2px 4px;
    color: #fff;
    text-align: center;
    line-height: 14px;
  }
  .table-nf_remove {
    display: inline-block;
    vertical-align: middle;
    background-color: @color-red;
    padding: 2px 4px;
    color: #fff;
    text-align: center;
    line-height: 14px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .table-crm {
    & > thead {
      & > tr {
        & > th {
          padding: 10px 5px;

          &:first-child {
            padding: 10px 0 10px 5px;
          }
        }
      }
    }
    &>tbody {
      &>tr {

        &>td {
          padding: 10px 5px;

          &:first-child {
            padding: 10px 0 10px 5px;
          }
        }
      }
    }
  }

  .col-status {
    width: 100px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .table-crm {
    table-layout: fixed;
  }

  .col-status {
    width: 140px;
  }
}

@media (max-width: 767px) {
  /* Force table to not be like tables anymore */
  #no-more-tables table,
  #no-more-tables thead,
  #no-more-tables tbody,
  #no-more-tables th,
  #no-more-tables td,
  #no-more-tables tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #no-more-tables tr { border: 1px solid #ccc; }

  #no-more-tables td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align:left;
    vertical-align: middle;

    .checkbox {
      margin: 0;
    }
  }

  #no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 15px;
    left: 15px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  /*
  Label the data
  */
  #no-more-tables td:before { content: attr(data-title); }
}