/* Sidebar styles
----------------------------------------- */

.sidebar-left {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 321px;
  height: 100%;
  border-right: 1px solid @default-darken;
  background-color: @default;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);

  .sidebar-left_logo {
    font-size: 24px;
    line-height: 24px;
    background-color: @color-red-light;
    text-align: center;
    color: #fff;
    padding: 14.5px 0;
  }

  .sidebar-left_t {
    font-size: 14px;
    color: #a7a7a7;
    text-align: center;
    padding: 13px 0;
    background-color: @default;
    border-bottom: 1px solid @default-darken;
    box-shadow: 0 1px 1px #565656;
  }

  .sidebar-left_userbox {
    padding: 30px 20px;
  }

  .sidebar-left_support {
    position: fixed;
    bottom: 35px;
    left: 0;
    right: 0;
    width: 292px;
    padding: 0 20px;
    color: #fefefe;
    text-align: center;

    a {
      color: #fefefe;
      font-size: @font-size-md;

      i {
        margin-right: 5px;
      }
    }
  }
  
  .sidebar-left_copyright {
    position: fixed;
    bottom: 5px;
    left: 0;
    right: 0;
    width: 292px;
    padding: 0 20px;
    color: #fefefe;
    text-align: center;
  }
}

.profile_logo {
  width: 55px;
  display: inline-block;
  vertical-align: middle;
  img {
    width: 100%;
    height: auto;
  }
}

.profile_info {
  display: inline-block;
  vertical-align: middle;
  width: 183px;
  margin: 0 0 0 10px;

  .profile_info_n {
    font-size: @font-size-md;
    color: #9fabac;
    display: block;
    margin-bottom: 3px;
  }

  a {
    color: #9fabac;
    font-size: (@font-size-sm)-1;
    
    i {
      margin-right: 3px;
    }
    &.profile_info_icon_l {
      float: left;
    }
   /* &.profile_info_icon_r {
      float: right;
    }*/
  }
}

.sidebar-collapsed {
  .sidebar-left_userbox {
    padding: 30px 5px;
  }

  .profile_logo {
    width: 50px;
    margin-bottom: 10px;
  }
  .profile_info {
    width: 100%;
    text-align: center;
    margin: 0;

    .profile_info_n {
      display: none;
    }

    a {
      display: block;


      &.profile_info_icon_l {
        float: none;
        span {
          display: none;
        }
        i {
          font-size: 20px;
          margin: 0 0 10px;
          -webkit-transition: all 0.25s ease;
          -moz-transition: all 0.25s ease;
          -ms-transition: all 0.25s ease;
          -o-transition: all 0.25s ease;
          transition: all 0.25s ease;
          &:hover {
            color: #fff;
          }
        }
      }
      /*&.profile_info_icon_r {
        float: none;
        *//*position: fixed;
        top: 5px;
        width: 50px;
        text-align: center;*//*
      }*/
    }
  }

  .sidebar-left_copyright {
    display: none;
  }
  .sidebar-left_support {
    bottom: 5px;
    width: 60px;
    text-align: center;
    a {
      span {
        display: none;
      }
      i {
        font-size: 20px;
        margin: 10px 0;
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}