/* Table settings styles
------------------------------ */
.field_selection {
  width: 100%;

  select {
    border-radius: 2px;
    width: 100%;
  }
}

.btn_action {
  margin-top: 10px;
}
.arrows_block {
  position: relative;
  text-align: center;

  .arrows_block_pos {
    position: absolute;
    top: 35px;
  }
}

@media (max-width: 767px) {
  .arrows_block {
    height: 100px;

    .arrows_block_pos {
      top: 14px;
      left: 50%;
      margin-left: -40.5px;
    }
  }
}