/* Workarea filter block styles
---------------------------------- */

.workarea-block_date,
.workarea-block_selection,
.workarea-block_deal,
.workarea-block_task {
  padding: 0 10px;
}

.workarea-block_submit {
  margin: 20px 0;
  text-align: right;
}

.filter_n {
  font-size: 14px;
  color: #373737;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
}

.status_ul {
  margin: 0;
  padding: 0;
  list-style: none;

  .status_li {
    display: inline-block;
    width: 100%;
    position: relative;

    a {
      display: block;
      padding: 15px 10px;
      color: #373737;
      font-size: 14px;
      border-bottom: 2px solid #d2d2d2;
    }

    &.active {
      a {
        border-bottom: 2px solid #34a6e0;
        &:after {
          content: '';
          position: absolute;
          bottom: 2px;
          left: 45px;
          margin-left: -4px;
          width: 0; height: 0;
          border-bottom: 4px solid #34a6e0;
          border-right: 4px solid transparent;
          border-left: 4px solid transparent;
        }
      }
    }
    &:hover {
      a {
        text-decoration: none;
        border-bottom: 2px solid #34a6e0;
        &:after {
          content: '';
          position: absolute;
          bottom: 2px;
          left: 45px;
          margin-left: -4px;
          width: 0; height: 0;
          border-bottom: 4px solid #34a6e0;
          border-right: 4px solid transparent;
          border-left: 4px solid transparent;
        }
      }
    }
  }
}

.date_ul {
  margin: 0;
  padding: 0;
  list-style: none;

  .date_li {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
  }
}