/* Workarea action block styles
------------------------------------ */

.workarea-block_action {
  padding: 10px 0;
  color: #373737;
  font-size: 14px;

  .workarea-block_action_l {
    float: left;
  }

  .workarea-block_action_r {
    float: right;
    margin-top: 5px;
  }

  .action_add,
  .action_settings,
  .action_print,
  .action_export,
  .action_import,
  .action_pagecnt,
  .action_pagi {
    display: inline-block;
    vertical-align: middle;
  }
  
  .action_add {
    margin-right: 20px;
    a {
      i {
        margin-right: 5px;
      }
    }
  }
  .action_settings {
    a {
      i {
        margin-right: 5px;
      }
    }
  }

  .action_print {
    margin-right: 20px;
    a {
      i {
        margin-right: 5px;
      }
    }
  }
  .action_import {
    margin-right: 20px;
    a {
      i {
        margin-right: 5px;
      }
    }
  }
  .action_export {
    margin-right: 20px;
    a {
      i {
        margin-right: 5px;
      }
    }
  }
  .action_pagecnt {
    margin-right: 10px;
    .action_pagecnt_box {
      padding: 3px 5px;
      border: 1px solid #e5e5e5;
      border-radius: 3px;
      text-align: center;
      line-height: 18px;
      a {
        i {
          margin-right: 5px;
        }
      }
    }
  }

  .action_pagi {
    &>ul {
      margin: 0;
      padding: 0;
      list-style: none;

      &>li {
        float: left;
        &>a {
          padding: 3px 10px;
          border: 1px solid #e5e5e5;
          text-align: center;
          color: #898989;

          i {
            font-size: 16px;
          }
        }
        &.next {
          &>a {
            border-radius: 0 2px 2px 0;
          }
        }
        &.prev {
          &>a {
            border-radius: 2px 0 0 2px;
          }
        }
        
        &:hover {
          &>a{
            i {
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .workarea-block_action {
    font-size: 12px;
    .action_add {
      margin-right: 6px;
    }

    .action_export,
    .action_import,
    .action_print,
    .action_pagecnt {
      margin-right: 6px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .workarea-block_action {
    font-size: 12px;
    .workarea-block_action_l {
      width: 100%;
      text-align: center;

      .action_add {
        margin-right: 6px;
      }
    }
    .workarea-block_action_r {
      width: 100%;
      text-align: center;

      .action_export,
      .action_import,
      .action_print,
      .action_pagecnt {
        margin-right: 6px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .workarea-block_action {
    font-size: 14px;
    .workarea-block_action_l {
      width: 100%;
      text-align: center;

      .action_add {
        margin-right: 6px;
      }
    }
    .workarea-block_action_r {
      width: 100%;
      text-align: center;

      .action_export,
      .action_import,
      .action_print,
      .action_pagecnt {
        margin-right: 6px;
      }
    }
  }
}

@media (max-width: 767px) {
  .workarea-block_action {
    font-size: 12px;
    .workarea-block_action_l {
      width: 100%;
      text-align: center;

      .action_add {
        margin-right: 6px;
      }
    }
    .workarea-block_action_r {
      width: 100%;
      text-align: center;

      .action_export,
      .action_import,
      .action_print,
      .action_pagecnt {
        margin-right: 6px;
      }
    }
  }
}