/* Main workarea styles
----------------------------------- */
.main-content {
  position: relative;
  margin-left: 321px;
  padding: 25px 15px;
  height: 100%;

  .main-content_t {
    position: fixed;
    top: 53px;
    left: 321px;
    right: 0;
    background-color: #fff;
    z-index: 1;
    padding: 20px 15px;
    font-size: 16px;
    border-bottom: 1px solid #e5e5e5;
    color: @default;
  }
}

.top-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 321px;
  z-index: 2;
  height: 53px;
  background-color: @default;

  .top-bar_toggler {
    float: left;
    padding: 11px 19px;
    border-right: 1px solid #e5e5e5;

    &>a {
      padding: 5px;
      background-color: #9fabac;
      border-radius: 2px;
      color: #fff;
      font-size: 14px;
      line-height: 14px;
      display: inline-block;
    }
  }

  .top-bar_n {
    font-size: 18px;
    color: #9fabac;
    float: left;
    padding: 10.5px 20px;
  }

  .tob-bar_search {
    width: 30%;
    float: left;
    padding: 0;

    .tob-bar_search_inpt {
      width: 100%;
      height: 53px;
      padding: 10.5px 15px;
      border: none;
      border-right: 1px solid @default-darken;
      font-size: @font-size-md;
      background: transparent;
      color: #a7a7a7;
      &:focus {
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      }
      &:before {
        font-family: "FontAwesome";
        content: "\f002";
        display: inline-block;
        color: #a7a7a7;
      }
    }
  }

  .tob-bar_right {
    float: right;

    .tob-bar_lng {
      position: relative;
      float: right;
      padding: 18px;

      ul {
        left: -40px;
        min-width: 60px;
        margin: 0;
        border-radius: 0;
      }
    }
    
    .top-bar_userbox {
      position: relative;
      background-color: #2a2a2a;
      float: right;
      padding: 3px 20px;
      border-left: 1px solid @default-darken;
      border-right: 1px solid @default-darken;

      &>a {
        color: #fff;

        .top-bar_userbox_img {
          display: inline-block;
          vertical-align: middle;
          width: 46px;
          height: 46px;
          border-radius: 50%;
          margin-right: 15px;
          overflow: hidden;

          img {
            width: 100%;
            height: auto;
          }
        }

        .top-bar_userbox_n {
          display: inline-block;
          vertical-align: middle;
          color: #fff;
        }

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }

      & > ul {
        border-radius: 0;
      }
    }
  }
}

.change-lng_ul {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;

  .change-lng_li {
    display: inline-block;
    border: 1px solid #e5e5e5;
    margin: 10px;

    &.active,
    &:hover {
      border: 1px solid @color-red;
    }
  }
}

/*Mobile top-bar*/
.top-bar-mobile {
  width: 100%;
  height: 46px;
  border-bottom: 1px solid #fff;
  background-color: @default;

  .top-bar-mobile_toggler {
    float: left;
    border-right: 1px solid #fff;

    &>a {
      color: #fff;
      font-size: 18px;
      line-height: 14px;
      display: inline-block;
      padding: 13px 19px;
    }
  }

  .top-bar-mobile_n {
    font-size: 16px;
    color: #fff;
    float: left;
    padding: 11.5px 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .top-bar-mobile_userbox {
    position: relative;
    float: right;
    padding: 3px 20px;
    border-left: 1px solid @default-darken;
    border-right: 1px solid @default-darken;

    &>ul {
      left: -53px;
    }

    &>a {
      color: #fff;

      .top-bar-mobile_userbox_img {
        display: inline-block;
        vertical-align: middle;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        margin-right: 15px;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
        }
      }

      .top-bar-mobile_userbox_n {
        display: inline-block;
        vertical-align: middle;
        color: #fff;
      }

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    & > ul {
      border-radius: 0;
    }
  }

  .tob-bar-mobile_lng {
    position: relative;
    float: right;
    padding: 13px;

    ul {
      left: -40px;
      min-width: 60px;
      margin: 0;
      border-radius: 0;
    }
  }
}

.page-name-mobile {
  background-color: #fff;
  padding: 15px;
  color: @default;
  font-size: 16px;
}

/*editing profile*/
.user-avatar {
  width: 108px;
  border: 2px dashed #e5e5e5;
  padding: 2px;
}

.file-wrapper {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
  .button {
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    padding: 4px 0;
    color: @discussion;
    width: 108px;
    text-align: center;
    text-decoration: underline;
  }
  input {
    cursor: pointer;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    opacity: 0.01;
  }
}

/*news-ntf block*/
.news-ntf {
  display: none;
  position: absolute;
  top: 46px;
  right: -308px;
  z-index: 1;
  width: 308px;
  height: calc(~'100% - 46px');
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;

  .news-ntf_ul {
    margin: 0;
    padding: 0;
    list-style: none;

    .news-ntf_li {
      display: inline-block;
      vertical-align: middle;
      padding: 0 15px 15px 15px;
      border-bottom: 1px solid #e5e5e5;

      &:last-child {
        border-bottom: none;
      }

      .news-ntf_icon {
        display: inline-block;
        vertical-align: top;
        margin-right: 12px;
        width: 33px;
        height: 33px;
        text-align: center;
        border-radius: 50%;
        margin-top: 15px;
        background-color: @discussion;
        
        i {
          color: #fff;
          font-size: 16px;
          line-height: 36px;
        }
      }

      .news-ntf_info {
        display: inline-block;
        vertical-align: top;
        width: 228px;
        margin-bottom: 10px;

        .news-ntf_desc {
          color: #373737;
          line-height: 14px;
          margin-top: 15px;
          margin-bottom: 8px;
        }

        .news-ntf_time {
          color: #8b8b8b;
          float: left;


          i {
            margin-right: 5px;
          }
        }

        .news-ntf_detail {
          float: right;

          a {
            color: @acceptance;
          }
        }
      }
    }
  }
}

/*tasks-ntf block*/
.tasks-ntf {
  position: absolute;
  right: 53px;
  top: 37px;
  display: none;
  width: 255px;
  height: 300px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  padding: 15px;

  &:after {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 15px;
    margin-left: -8px;
    width: 0; height: 0;
    border-bottom: 8px solid #e5e5e5;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }

  .tasks-ntf_block {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    .tasks-ntf_t {
      font-size: 15px;
      line-height: 15px;
      color: #373737;
      padding-bottom: 5px;
      margin-bottom: 5px;
      border-bottom: 1px solid #e5e5e5;
    }

    .tasks-ntf_ul {
      padding: 0;
      margin: 0;
      list-style: none;

      &>.tasks-ntf_li {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;

        &>.tasks-ntf_n {
          display: block;
          margin-bottom: 3px;
          font-size: 13px;
        }

        &>.tasks-ntf_time {
          font-size: 11px;
          color: #b8b8b8;
          float: left;
        }
        &>.tasks-ntf_action {
          float: right;

          a {
            text-decoration: underline;
            font-size: 11px;
            color: #b8b8b8;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }

    &.__failed {
      .tasks-ntf_n {
        color: @failed;
      }
    }

    &.__nearest {
      .tasks-ntf_n {
        color: #1080a7;
      }
    }
  }
}

/*workarea block styles*/
.workarea-block {
  margin-top: 63px;
  position: relative;

  .workarea-block_cnts {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 35px;

    .workarea-block_header {
      background-color: @default-light;
      padding: 12px;
      color: #fff;
      font-size: @font-size-md;
      border: 1px solid #e5e5e5;
      border-bottom: 1px solid transparent;

      i {
        color: #a7a7a7;
      }
    }

    .workarea-block_txt {
      padding: 12px;
      font-size: @font-size-md;
      background-color: #fff;
      border: 1px solid #e5e5e5;

      .workarea-block_txt_t {
        color: #7f7f7f;
        margin-bottom: 15px;
      }
    }

    .count-block {
      padding: 15px;
      color: #fff;
      font-size: 36px;
      
      i {
        font-size: 70px;
      }
      
      &.__red {
        background-color: @color-red;
      }
      &.__orange {
        background-color: @color-orange;
      }
      &.__blue {
        background-color: @color-blue;
      }

      .count-block_t {
        display: block;
        text-align: right;

        span {
          display: block;
          font-size: 14px;
        }
      }
    }
  }

  .user-acl_t {
    font-weight: 600;
    text-align: center;
    margin: 30px 0 20px 0;
  }
  
  .__allowed,
  .__denied {
    font-size: @font-size-sm;
    margin-top: 3px;
    opacity: 0;
  }
  .__type {
    padding: 5.5px 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {
  .main-content {
    margin: 0;
    padding: 15px;
  }

  .workarea-block {
    margin: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    .workarea-block_cnts {
      position: relative;
      width: 100%;
      background-color: #fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    .workarea-block_submit {
      margin: 20px 0 0 0;
      text-align: center;
    }

  }
}

@media (max-width: 767px) {
  .main-content {
    margin: 0;
    padding: 15px;
  }

  .workarea-block {
    margin: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    .workarea-block_cnts {
      position: relative;
      width: 100%;
      background-color: #fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    .workarea-block_submit {
      margin: 20px 0 0 0;
      text-align: center;
    }

    .user-acl-names {
      display: none;
    }
  }
}

@media (max-width: 400px) {
  .top-bar-mobile {
    .top-bar-mobile_n {
      max-width: 210px;
    }
  }
}