/* Cosmetic stylish
------------------------------------- */
.__mb_10 {
  margin-bottom: 10px;
}

.__mb_20 {
  margin-bottom: 20px;
}

.__mt_5 {
  margin-top: 5px;
}

.__mt_20 {
  margin-top: 20px;
}

.__mt_15 {
  margin-top: 15px;
}

.mb_4 {
  margin-bottom: 4px;
}

.__mr_5 {
  margin-right: 5px;
}

.w_100p {
  width: 100%;
}

.w_90p {
  width: 90%;
}

.__no-border {
  border: 0 !important;
}

.__p_30_60 {
  padding: 30px 60px !important;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .__p_30_60 {
    padding: 25px 10px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .__p_30_60 {
    padding: 25px 15px !important;
  }
}

@media (max-width: 767px) {
  .__p_30_60 {
    padding: 25px 15px !important;
  }
}